backports.tarfile==1.2.0
email-validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.8
fastapi-cli==0.0.7
h2==4.2.0
httptools==0.6.4
importlib-metadata==8.6.1
ipykernel==6.29.5
itsdangerous==2.2.0
jaraco.collections==5.1.0
jinja2==3.1.5
keras-preprocessing==1.1.2
openai==1.64.0
orjson==3.10.15
pandas==2.2.3
pickleshare==0.7.5
pip-chill==1.0.3
pydantic-extra-types==2.10.2
pydantic-settings==2.8.0
python-multipart==0.0.20
pyyaml==6.0.2
retell-sdk==4.19.0
scikit-learn==1.6.1
supabase==2.13.0
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
tomli==2.0.1
ujson==5.10.0
uvloop==0.21.0
watchfiles==1.0.4
